+++
title = "TIBCO LABS™ Overview"
linkTitle = "home"

+++

{{< blocks/cover title="TIBCO LABS™" image_anchor="top" height="half" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "about/" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<!--a class="btn btn-lg btn-warning mr-3 mb-4" href="https://github.com/TIBCOSoftware/TIBCO-LABS">
		Download <i class="fab fa-github ml-2 "></i>
	</a-->
	<p class="lead mt-5">
	<h1>NEW Innovation Projects to inspire you!</h1></p>
	<div class="mx-auto mt-5">
		{{< blocks/link-down color="dark" >}}
	
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
For more details on how you can participate in TIBCO LABS™ , please reach out to your TIBCO representative, and check out the projects below.
{{% /blocks/lead %}}



{{< blocks/section color="white" >}}

<!-- Project -->
<div class="row mx-md-n5">
	<div class="col py-5 px-md-5  col-example">

### Project Dovetail™
Today, there is no standardization for the creation and use of blockchain smart contracts. Tooling capabilities vary, and if you chose the wrong technology, you risk having to start from scratch with little hope of migration. It is also difficult to integrate contract logic with the rest of your systems and applications, further limiting the ability to consume blockchain technology within the enterprise. Project Dovetail™ solution addresses these problems with a model-driven approach to smart contract development and testing.

<a href="https://tibcosoftware.github.io/dovetail">VIEW on GITHUB</a>

  </div>
  <div class="col py-5 px-md-5 bordered col-example">
    <img src="images/Project-dovetail_@2x.png" width="400px"></img>
  </div>
</div>

<!-- Project -->
<div class="row mx-md-n5">
	<div class="col py-5 px-md-5  col-example">
		<img src="images/Project-cloud-conversations_@2x.png" width="400px"></img>	

  </div>
  <div class="col py-5 px-md-5 bordered col-example">

### Project Cloud Conversations
Want to have a conversation with your data? Project Cloud Conversations solution offers new ways of exploring and interacting with enterprise data. Using natural language processing (NLP), machine learning (ML), and the now ubiquitous paradigm of a “chatbot” user interface, Project Cloud Conversations solution provides enterprise users with a simple-to-use tool for querying enterprise knowledge.
	
<a href="https://tibcosoftware.github.io/labs-conversations">VIEW on GITHUB</a>
    
  </div>
</div>

<!-- Project -->
<div class="row mx-md-n5">
	<div class="col py-5 px-md-5  col-example">
		
### TIBCO Cloud™ Starters
Need to quickly build cloud applications using the latest web technologies? TIBCO Cloud™ Starters solution brings the power of the TIBCO Connected Intelligence Cloud to solution development. With TIBCO Cloud Starters development toolkits, customers can leverage the capability domains from TIBCO Cloud software as a service to quickly build applications for the toughest business problems. Combine best-of-breed capabilities such as microservices and APIs, case management, messaging, decision management, and analytics into a single, unified application using these components.

<a href="https://tibcosoftware.github.io/TCSToolkit/">VIEW on GITHUB</a>

  </div>
  <div class="col py-5 px-md-5 bordered col-example">
    <img src="images/Tibco-cloud-starters_@2x.png" width="400px"></img>
  </div>
</div>

<!-- Project -->
<div class="row mx-md-n5">
  <div class="col py-5 px-md-5  col-example">

<img src="images/AutoML_@2x.png" width="400px"></img>

  </div>
  <div class="col py-5 px-md-5 bordered col-example">
	
### AutoML for TIBCO® Data Science - Team Studio
Need to expand your ability to develop machine learning models?  Want to automate activities related to data prep, feature extraction, feature engineering, and model selection? Need to explain, score, and manage these models seamlessly in your environment? AutoML for TIBCO® Data Science – Team Studio software for business analysts and data scientists provides automated generation of ML workflows for a wide range of data science problems. Generated solutions are open and allow for fine-tuning, and the visual approach makes it easy for users to understand overall flow and logic.
	
<a href="https://community.tibco.com/modules/automl-tibcor-data-science-team-studio">VIEW on TIBCO Community</a>
	
  </div>
</div>

<!-- Project -->
<div class="row mx-md-n5">
	<div class="col py-5 px-md-5  col-example">
		
### Project Discover™
Understanding the variety of business processes within an organization can be very challenging. How do you know if processes are being executed as expected? Do resource bottlenecks exist? And just how many variations of the same process do you have? Project Discover™ solution is a process-mining solution built on the TIBCO Connected Intelligence Cloud that allows customers to discover, learn, improve, and predict process behaviors from event logs produced by operational systems.

<a href="https://tibcosoftware.github.io/labs-discover">VIEW on GITHUB</a>
  </div>
  <div class="col py-5 px-md-5 bordered col-example">
    <img src="images/Project-discover_@2x.png" width="400px"></img>
  </div>
</div>

<!-- Project 
<div class="row mx-md-n5">
  <div class="col py-5 px-md-5  col-example">
		
<img src="images/Project-AR.png" width="400px"></img>

  </div>
  <div class="col py-5 px-md-5 bordered col-example">

### Augmented Reality
onnect your AR Experience with Enterprise Data and take actions, with ready to use Unity3D Packages and Samples.

<a href="https://tibcosoftware.github.io/Augmented-Reality/">VIEW on GITHUB</a>

  </div>
</div> -->

<div class="mx-auto mt-5">
		{{< blocks/link-down color="info" >}}
</div>

{{< /blocks/section >}}



{{< blocks/section >}}
{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/hashtag/TIBCOLabs?f=live" %}}
For announcement of latest features etc...
{{% /blocks/feature %}}

{{< /blocks/section >}}

